<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/110378ea04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Css/Styles.css">
    <title>Carrito</title>
    
</head>

<header>
    <div class="Logo">
    <script src="https://kit.fontawesome.com/6d495e19f9.js" crossorigin="anonymous"></script>
    <img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
    
  
</div>
</header>
<i class="fa-solid fa-cart-shopping-fast"></i>

<body>
    <div class="container">
        <div class="row">
           
            <main id="items" class="col-sm-8 row"></main>
          
            <div class="col-sm-4">
                <h2>Mi carrito de compras</h2>
                <img class="Ropa" width="300px"  src="/Imagenes/campera_antartida_6_imagen1.jpg">
                <img class="Ropa" width="300px"  src="/Imagenes/camisas.jpg">
                <ul id="carrito" class="list-group"></ul>

                                
                <p class="text-right">Total: <span id="total"></span>$;</p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                <button id="boton-vaciar" class="btn Abonar">Abonar</button>
            </div>
        </div>
    </div>
    
    </div>
    <Footer>
        <img src="/Imagenes/ClouthingARG2.png">
        <ul>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Cancelar una compra</a></li>
            <li><a href="#">contacto</a></li>
        </ul>  
        <div class="telefono">
                <i class="fa-solid fa-phone"></i>
                <h2>atencion al cliente</h2>
             <h3>0810-000-3112</h3>
        </div>
        </Footer>
    
</body>
</html>