<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/Styles.css">
    
</html>
<header>
    <div class="Logo">
    <script src="https://kit.fontawesome.com/6d495e19f9.js" crossorigin="anonymous"></script>
    <img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
    <input type="text" placeholder="Buscar productos deseados..." class="Barra" required>
    <nav>
    <ul class="Busqueda">
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Marcas</a></li>
    </ul>
    </div>
    <ul class="login">
    <i class="fa-solid fa-user"></i>
    <li><a href="#">Inicia sesion</a></li>
    <i class="fa-solid fa-user-plus"></i>
    <li><a href="#">Registrarse</a></li>
    <i class="fa-solid fa-cart-shopping"></i>
    <li><a href="#">Mi carrito</a></li>   
    </ul>
    </nav>
</div>
</header>
    <body>
    <h2 class="Titulo">Producutos recomendados</h2>
        <div class="Publicaciones">
<article class="articulo">
    <img class="Ropa" src="/Imagenes/Buzo nike stussy.png">
    <h4>Buzo Nike X Stussy</h4>
    <p>120usd</p>
    <p>talle: L</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/air-jordan-4-lightning-2021-CT8527-700-release-date-1.webp">
    <h4>Jordan 4 Lightning</h4>
    <p>300usd</p>
    <p>talle:8 us/7 uk/41 eur </p>
</article>
<article class="articulo">
    <img class="Ropa" src="Imagenes/lompanike.jpg">
    <h4>Pantalon Nike cargo</h4>
    <p>70usd</p>
    <p>talle: M</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/campera nocta.jpg">
    <h4>Campera Nike nocta</h4>
    <p>120usd</p>
    <p>talle: XL</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/MYM NASCAR.jpg">
    <h4>Campera MYM NASCAR</h4>
    <p>234usd</p>
    <p>talle: L/XL/XXL</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/montana_pantalones.avif">
    <h4>Pantalones para montañas</h4>
    <p>30usd</p>
    <p>talle: L</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/chaqueta_lakers.jpg">
    <h4>Campera lakers</h4>
    <p>284usd</p>
    <p>talle: XS/S/M</p>
</article>
<article class="articulo">
    <img class="Ropa" src="/Imagenes/Puffertnf.jpg">
    <h4>Campera The North Face puffer</h4>
    <p>489 usd</p>
    <p>talle: XS/S/L</p>
</article>
        </div>
</body>
<Footer>
<img src="/Imagenes/ClouthingARG2.png">
<ul>
    <li><a href="#">Terminos y condiciones</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Cancelar una compra</a></li>
    <li><a href="#">contacto</a></li>
</ul>  
<div class="telefono">
        <i class="fa-solid fa-phone"></i>
        <h2>atencion al cliente</h2>
     <h3>0810-000-3112</h3>
</div>
</Footer>


