<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/Styles.css">
</html>
<header>
    <img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
    <input type="text" placeholder="Buscar productos deseados..." class="Barra" required>
    <nav>
    <ul class="Busqueda">
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Marcas</a></li>
    </ul>
    <ul class="login">
    <li><a href="#">Inicia sesion</a></li>
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Mi carrito</a></li>   
    </ul>
    </nav>
</header>
    <body>
<h2>Producutos recomendados</h2>
<article>
    <img class="Ropa" src="/Imagenes/campera_antartida_6_imagen1.jpg">
    <h4>Campera The North Face</h4>
    <p>400usd</p>
    <p>talle: S</p>
</article>
<article>
    <img class="Ropa" src="/Imagenes/Jordan 4 Retro Lightning (2).png">
    <h4>Jordan 4 Lightning</h4>
    <p>300usd</p>
    <p>talle:8 us/7 uk/41 eur </p>
</article>
<article>
    <img class="Ropa" src="Imagenes/lompanike.jpg">
    <h4>Pantalon Nike cargo</h4>
    <p>70usd</p>
    <p>talle: M</p>
</article>
<article>
    <img class="Ropa" src="/Imagenes/campera nocta.jpg">
    <h4>Campera Nike nocta</h4>
    <p>120usd</p>
    <p>talle: XL</p>
</article>
</body>
<Footer>
<img src="/Imagenes/ClouthingARG2.png">
<h1>clouthingARG</h1>
<ul>
    <li><a href="#">Terminos y condiciones</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Cancelar una compra</a></li>
    <li><a href="#">contacto</a></li>
    <h2>atencion al cliente</h2>
    <h3>0810-000-3112</h3>
</ul>
</Footer>


