<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/110378ea04.js" crossorigin="anonymous"></script>
    <title>Market</title>
</head>
<img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
<ul class="login">
    <li><a href="#">Inicia sesion</a></li>
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Mi carrito</a></li>   
    </ul>

<body>
    <ul class="FiltroGeneral">
        <li><a href="#">Camping</a></li>
        <li><a href="#">Montañismo</a></li>
        <li><a href="#">Running</a></li>
        <li><a href="#">Ski</a></li>
        <li><a href="#">Vestir</a></li>
        <li><a href="#">Urbano</a></li>
    </ul>   
     <ul class="FiltroTalles"> 
        <li>Filtra por talle</li>
        <li> <input type="checkbox"> XS </li> 
        <li> <input type="checkbox"> S </li> 
        <li> <input type="checkbox"> M</li> 
        <li> <input type="checkbox"> L</li> 
        <li> <input type="checkbox">XL</li> 
        <li> <input type="checkbox">XXL</li> 
        <li> <input type="checkbox">XXXL</li> 
        <li> <input type="checkbox">XXXXL</li> 
        
    </ul>
    <ul class="FiltroTalles"> 
        <li>Filtra por tipo</li>
        <li> <input type="checkbox"> Niña   </li> 
        <li> <input type="checkbox"> Niño   </li> 
        <li> <input type="checkbox"> Mujer  </li> 
        <li> <input type="checkbox"> Hombre </li> 
        <li> <input type="checkbox"> Unisex </li> 
                
    </ul>
</body>
<Footer>
     <ul>
        <li><a href="#">Terminos y condiciones</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Cancelar una compra</a></li>
        <li><a href="#">contacto</a></li>
        <h2>atencion al cliente</h2>
        <h3>0810-000-3112</h3>
    </ul>
    </Footer>

</html>