<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

<header>
    <img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
    <h1 class="titulo"> Bienvenidos al registro de Clouthing ARG</h1>  
    <h2 class="subTitulo"> Brindanos Tus datos</h2>  
</header>
<body>
       
       <form class="form">
            
        
        
        <input class="cajas" type="text" placeholder="Nombre" required maxlength="30">
        <input class="cajas" type="text" placeholder="Apellido" required maxlength="30">
        <input class="cajas" type="email" placeholder="Email" required maxlength="30">
        <input class="cajas" type="password" placeholder="Password" required maxlength="30">
        <input class="cajas" type="password" placeholder="Repite tu contraseña" required maxlength="30">
       
        <p class="termino1"><input type="checkbox">  Estoy de acuerdo con <a class="termino2" href="">Terminos y Condiciones</a></p>
        
       
        <button class="botonRegistro">
            <span> Registrarme
            </span>
          </button>
    
</body>
<footer>

</footer>
</html>