<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/Styles.css">
    
</html>
<header>
    <div class="Logo">
    <script src="https://kit.fontawesome.com/6d495e19f9.js" crossorigin="anonymous"></script>
    <img src="/Imagenes/ClouthingARG2.png " class="Logo" alt="Logo Pagina">
    <input type="text" placeholder="Buscar productos deseados..." class="Barra" required>
    <nav>
    <ul class="Busqueda">
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Marcas</a></li>
    </ul>
    </div>
    <ul class="login">
    <i class="fa-solid fa-user"></i>
    <li><a href="#">Inicia sesion</a></li>
    <i class="fa-solid fa-user-plus"></i>
    <li><a href="#">Registrarse</a></li>
    <i class="fa-solid fa-cart-shopping"></i>
    <li><a href="#">Mi carrito</a></li>   
    </ul>
    </nav>
</div>
</header>
<body>
    <h1>Vender Ropa</h1>
    <img src="/Imagenes/Jordan 4 Retro Lightning (2).png">
    <button><i class="fa-solid fa-camera"></i>subir Imagenes</button>
    <h3>¿Que prenda desea vender?</h3>
    <input type="text" placeholder="Zapatillas,Remera,Buzos,etc" class="Tipo" required>

</body>